body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    font-family: sans-serif;
    background-color: #f0f0f0;
    perspective: 1000px;
    /* background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%) */
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: black;
    width: 310px;
}

.cell {
    background-color: pink;
    display: flex;
    justify-content:center;
    font-size:40px;
    cursor:pointer; 
   
}

.cell:hover {
    background-color: #7e3a3a;
}

#status {
    margin-bottom: 20px;
    font-size: 24px;
}

#restartBtn {
    margin-top: 20px;

}